<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" media="screen" href="?path=/resources/stylesheets/quote.css" />
		<title>{$Title}</title>
	</head>
	
	<body>
		
		<div id="quote">
			{$Body}
		</div>
		
		<div id="btm">
			{$Author}
			{$Extra}
		</div>
		
	</body>
</html>