								<h1>About PleaseTakes</h1>
								
								<div class="Text">
									{$BreadcrumbTrail}
									<div class="Text IEFix">
									
										<div class="AboutLeftPane">
											<p style="margin-top: 0;">PleaseTakes is a simple, easy-to-use, web-based application for use in schools that allows superiors to arrange cover for absent members of teaching staff. Apart from looking the part, PleaseTakes also contains an extensive list of features which can be tailored to different school's needs.</p>
											<p>The system has been developed and is maintained by David Maxwell, currently a clueless third year computing science student (go figure!) at the University of Glasgow. The system has been initially developed for his old high school, Mearns Castle.</p>
											<p>However, all this work could not have been completed entirely by David. Tasks such as data entry, thorough testing, as well as some help with development work, are to name but a few tasks which could not have been totally completed by himself. Several people have been required to get the system to where it is today. So, he'd like to thank the following people, who have in some way helped with the system's creation:</p>
											
											<ul class="SimpleList">
												<li>Jim McKenna</li>
												<li>Alastair Maxwell</li>
												<li>Alastair Leitch</li>
											</ul>
											
											<p>Finally, thank you to the people at <a href="http://www.guiicons.com">GUIIcons</a>, who are creative geniuses responsible behind the fantastic icons used within PleaseTakes.</p>
										</div>
										
										<div class="AboutRightPane">
											<img src="?path=resources/images/specific/login/logo.png" alt="A mad wee logo!" style="width: 260px; height: 80px;" />
											<div class="Text">
												<div id="Version">Version <strong>2</strong> (Build {$BuildDate})</div>
												<div id="AssemblyBuilds">
													{$AssemblyVersions}
												</div>
												<div id="W3CImages">
													<img src="?path=resources/images/specific/login/xhtml.png" alt="Valid XHTML Strict 1.0" style="width: 88px; height: 31px;" />
													<img src="?path=resources/images/specific/login/css.png" alt="Valid CSS 2.1" style="width: 88px; height: 31px;" />
												</div>
											</div>
										</div>
										
										<div class="Clear"></div>
									
									</div>
								</div>