									<h1>Password</h1>
									
									<div class="Text">
										{$BreadcrumbTrail}
										
										This tab allows you to change your account password. It's pretty easy to do, and involves you
										filling out the three form fields below. First, enter your current password into the "Old Password"
										field, then supply a new password, with a length of at least {$NumChars} characters into the "New" and "Confirm"
										fields. Then simply click "Change"; your password should then be updated!
										
										{$PasswordForm}
									</div>